<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAap8qEvJWgyqFyWXJfp3VKdxaZ1-z-UOM</string>
	<key>GCM_SENDER_ID</key>
	<string>693093851634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tuddzcarwash</string>
	<key>PROJECT_ID</key>
	<string>tuddz-carwash-2fdzgo</string>
	<key>STORAGE_BUCKET</key>
	<string>tuddz-carwash-2fdzgo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693093851634:ios:14e8b8d1e5b981780c0b6b</string>
	<key>DATABASE_URL</key>
	<string>https://tuddz-carwash-2fdzgo-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>